<div theme="blog">
    <section class="maincontainer">
        <div class="container is-page">
            <header class="navigation-header">
                <section class="top-links">
                    <a href= />Home</a>
                    <p>|</p>
                    <a href="/my-account">My account</a>
                    <p>|</p>
                </section>
            </header>
            <header class="notification-header">
            </header>
            <div class="blog-post">
                <img src="/image/blog/posts/1.jpg">
                <h1>It&apos;s All in the Game - Football for Dummies</h1>
                <p><span id=blog-author><a href='/blogs?userId=48d73d80-570a-40db-a80d-e14b63a75149'>carlos</a></span> |
                    17 April 2024</p>
                <hr>
                <p>There are two types of people in the world; those who watch soccer, and those who watch people
                    watching soccer. I fall into the latter category. If only they&apos;d leave me in peace to drink my
                    beer and zone out. But, no. I&apos;m going to stick my neck out here, but in my experience, the male
                    of the species feel it is their duty to do some Mansplaining*.</p>
                <p>It doesn&apos;t matter how many Salt &amp; Pepper pots, beer mats, or random objects they use to
                    explain the offside rule of English football, I&apos;m never going to make the connection between
                    the penalty area and a couple of drinking straws. They have an instant replay for a reason,
                    it&apos;s nice and slow, just point to the television; if you&apos;re at home pause, rewind and fast
                    forward. I&apos;d make better sense of recognizing the players&apos; positions if I could see the
                    players, and not a mishmash of mismatched cutlery.</p>
                <p>What really annoys me is the way that techies ( you know the ones, nine normal length fingernails and
                    one thumbnail kept obscenely long for a night at home playing Stairway To Heaven on their new
                    turquoise guitar) get away with knowing nothing at all about the game, but somehow wing it with a
                    set of stock phrases they picked up one night after falling asleep watching Silicon Valley, and
                    Match of the Day came on and penetrated their subconscious.</p>
                <p>And why, oh why, do English men now insist on watching American football? Hours and hours of stopping
                    and starting the game. I try and settle down to watch my favorite show Outnumbered, he tells me
                    he&apos;s just watching the end of a game, but it doesn&apos;t end, not before it&apos;s already
                    time to get up for work the next morning. Just because I&apos;m drifting in and out of the living
                    room (impatiently waiting for it all to be over) doesn&apos;t mean I have any interest and need a
                    new set of rules imparted to me.</p>
                <p>Soccer, love it or hate it, someone will always want to explain the game to you.</p>
                <p>*Mansplaining: This is when a man explains something to a woman in a way that suggests the woman is
                    hard of hearing or completely stupid.</p>
                <div />
                <hr>
                <h1>Comments</h1>
                <section class="comment">
                    <p>
                        <img src="/resources/images/avatarDefault.svg" class="avatar"> Paul Amuscle | 23 April 2024
                    </p>
                    <p>Alexa, get the blog up. Sorry, force of habit.</p>
                    <p></p>
                </section>
                <section class="comment">
                    <p>
                        <img src="/resources/images/avatarDefault.svg" class="avatar"> Mary Christmas | 23 April 2024
                    </p>
                    <p>Can you do a blog on the benefits of reading blogs please? I need to feel better about how
                        I&apos;m spending my time.</p>
                    <p></p>
                </section>
                <section class="comment">
                    <p>
                        <img src="/resources/images/avatarDefault.svg" class="avatar"> Grace O&apos;Gawd | 25 April 2024
                    </p>
                    <p>Do you know much about home removals? I&apos;ve had this leech in my house for 20 years and she
                        won&apos;t leave, well, I say leech obviously I mean daughter.</p>
                    <p></p>
                </section>
                <section class="comment">
                    <p>
                        <img src="/resources/images/avatarDefault.svg" class="avatar"> Greg Fomercy | 28 April 2024
                    </p>
                    <p>Do you have many people troll you?</p>
                    <p></p>
                </section>
                <section class="comment">
                    <p>
                        <img src="/resources/images/avatarDefault.svg" class="avatar"> Jack Support | 03 May 2024
                    </p>
                    <p>My boss recommended your blog to me as something to do while I looked for a new job?</p>
                    <p></p>
                </section>
                <hr>
                <section class="add-comment">
                    <h2>Leave a comment</h2>
                    <form action="/post/comment" method="POST" enctype="application/x-www-form-urlencoded">
                        <input required type="hidden" name="csrf" value="kNtxrxWLzHX6q3m1ewMqifXbsq8AzV3V">
                        <input required type="hidden" name="postId" value="9">
                        <label>Comment:</label>
                        <textarea required rows="12" cols="300" name="comment"></textarea>
                        <label>Name:</label>
                        <input required type="text" name="name">
                        <label>Email:</label>
                        <input required type="email" name="email">
                        <label>Website:</label>
                        <input pattern="(http:|https:).+" type="text" name="website">
                        <button class="button" type="submit">Post Comment</button>
                    </form>
                </section>
                {{> footer_blog}}
            </div>
    </section>
    <div class="footer-wrapper">
    </div>
</div>