<div theme="blog">
    <section class="maincontainer">
        <div class="container is-page">
            {{!-- <header class="navigation-header">
                <section class="top-links">
                    <a href= />Home</a>
                    <p>|</p>
                    <a href="/my-account">My account</a>
                    <p>|</p>
                </section>
            </header> --}}
            {{> header}}
            <header class="notification-header">
            </header>
            <div class="blog-post">
                <img src="/image/blog/posts/37.jpg">
                <h1>Importance of Relaxing</h1>
                <p><span id=blog-author><a href='/lab6/blogs?userId=afaec6c6-0a49-4dca-aa89-619ed79d710c'>wiener</a></span> |
                    15 April 2024</p>
                <hr>
                <p>Sometimes it&apos;s impossible to take a breath in this world. When you&apos;re not working your
                    fingers to the bone to support your family, economy and possible habits, you&apos;re faced with the
                    blood boiling, warped reality of social media and the internet in general.</p>
                <p>Years ago, in the dark ages of MSN Messenger and MySpace, people would use these online tools to
                    escape and perhaps see what their friends were up to. No longer do you need to log on to your
                    computer to see your social media, any updates of what friends are doing, where they are and who
                    they are with are all beamed into your pockets to your smartphone. Life has become much like George
                    Orwell predicted, Big Brother is watching you, and if he isn&apos;t, he&apos;s most certainly
                    Tweeting about you.</p>
                <p>This is a just a quick reminder to take some time to yourself. Take a walk, read a book or even start
                    a new hobby that doesn&apos;t involve interacting with people online. Perhaps you&apos;ve already
                    taken this step, acknowledged that social media and its sleepless energy has zapped a lot of yours
                    and you&apos;ve decided to take a break from the screens and focus on something more life affirming.
                    Getting back to nature, volunteering or just plain relaxing without distraction can go a long way to
                    restoring some energy and enthusiasm in your life. Many people consider down time to be chilling out
                    after work and taking time to themselves, but the stresses of social media and thinking &apos;Wow,
                    Dorothy really has her life together more than I do&apos; isn&apos;t good for mental health. In
                    fact, Dorothy doesn&apos;t have her life together anymore than you. Dorothy is using endless filters
                    and hasn&apos;t spoken to her mother in five years. That&apos;s the thing about the online world,
                    it&apos;s an airbrushed idealisation of what people want the world to see. Being so obsessed with
                    how others perceive you, however good your intentions, is hugely detrimental to your ability to
                    relax.</p>
                <p>Another nasty rabbit hole to dive down and barely come up for air from online is the comments
                    section. You know, the people that leave comments so devoid of humanity, compassion and worst of all
                    spelling accuracy. The ones that really make your blood boil. Maybe you don&apos;t respond, but this
                    idiot has said something so darn stupid you want them to get their just desserts, so you follow the
                    thread with huge interest as other, more confrontational people, direct the rightful abuse to them.
                    Then they retort, then more people get involved, then six hours has gone by and you have to go to
                    work. A lot of online activity is like watching a soap opera unfold, except the worrying thing is,
                    these people aren&apos;t characters.</p>
                <p>So, what to do? Let&apos;s spend less time aspiring to be the people on Instagram and Facebook that
                    appear to have everything sorted out and spend more time on ourselves. Read that book you&apos;ve
                    been meaning to read, take that yoga class, or just get out for a walk and above all, if you see
                    something that irks you, don&apos;t get lost in the comment section looking for sweet revenge&apos;
                    too often.</p>
                <div />
                <hr>
                <h1>Comments</h1>
                <section class="comment">
                    <p>
                        <img src="/resources/images/avatarDefault.svg" class="avatar"> Russell Up | 15 April 2024
                    </p>
                    <p>There are three certainties in life, death taxes and enjoying this blog.</p>
                    <p></p>
                </section>
                <section class="comment">
                    <p>
                        <img src="/resources/images/avatarDefault.svg" class="avatar"> Andy Man | 19 April 2024
                    </p>
                    <p>My screen seems to only show every other word, is that how you meant it to be?</p>
                    <p></p>
                </section>
                <section class="comment">
                    <p>
                        <img src="/resources/images/avatarDefault.svg" class="avatar"> Andy Trick | 24 April 2024
                    </p>
                    <p>I&apos;ve never read anything twice&apos; and today will be no exception.</p>
                    <p></p>
                </section>
                <section class="comment">
                    <p>
                        <img src="/resources/images/avatarDefault.svg" class="avatar"> Nick O&apos;Time | 26 April 2024
                    </p>
                    <p>Just all so random.</p>
                    <p></p>
                </section>
                <section class="comment">
                    <p>
                        <img src="/resources/images/avatarDefault.svg" class="avatar"> Zach Ache | 26 April 2024
                    </p>
                    <p>How many bloggers does it take to change a lightbulb?</p>
                    <p></p>
                </section>
                <hr>
                <section class="add-comment">
                    <h2>Leave a comment</h2>
                    <form action="/post/comment" method="POST" enctype="application/x-www-form-urlencoded">
                        <input required type="hidden" name="csrf" value="kNtxrxWLzHX6q3m1ewMqifXbsq8AzV3V">
                        <input required type="hidden" name="postId" value="8">
                        <label>Comment:</label>
                        <textarea required rows="12" cols="300" name="comment"></textarea>
                        <label>Name:</label>
                        <input required type="text" name="name">
                        <label>Email:</label>
                        <input required type="email" name="email">
                        <label>Website:</label>
                        <input pattern="(http:|https:).+" type="text" name="website">
                        <button class="button" type="submit">Post Comment</button>
                    </form>
                </section>
               {{> footer_blog}}
            </div>
    </section>
    <div class="footer-wrapper">
    </div>
</div>