<div theme="blog">
    <section class="maincontainer">
        <div class="container is-page">
            <header class="navigation-header">
                <section class="top-links">
                    <a href= />Home</a>
                    <p>|</p>
                    <a href="/my-account">My account</a>
                    <p>|</p>
                </section>
            </header>
            <header class="notification-header">
            </header>
            <div class="blog-post">
                <img src="/image/blog/posts/48.jpg">
                <h1>Look No Hands - The Game Plays Itself</h1>
                <p><span id=blog-author><a href='/blogs?userId=48d73d80-570a-40db-a80d-e14b63a75149'>carlos</a></span> |
                    14 April
                    2024</p>
                <hr>
                <p>I was so fed up with my husband always sitting in front of the television playing his silly
                    games, I did something about it. I came up with an idea that would revolutionize game playing in
                    the future. I wrote letters to the top game designers with my idea. I was surprised and
                    delighted by the positive response.</p>
                <p>Eventually, we received the prototype game in the post. This was the first ever self-playing
                    video game. No more endless button bashing. No more arguments trying to get him out of his
                    Barcalounger so he could help me with cooking dinner. His hands were finally free to do all the
                    things I needed him to do.</p>
                <p>Before the game begins you have to take a personality test, this then creates an algorithm for
                    gameplay. The game then becomes intuitive, running along making choices for the player, all he
                    had to do was watch with his eyes, and keep his hands free for more important jobs. My
                    husband&apos;s temper improved dramatically as he didn&apos;t have to repeat levels with angry
                    button pressing, they repeated automatically.</p>
                <p>The game is so realistic, lives will be lost if it thinks you could have made the wrong choices.
                    Based on the results of your personality test the game leads you along paths it is certain you
                    would choose. The accuracy was astonishing. My husband even agreed they had worked him out a lot
                    quicker than I did.</p>
                <p>When this goes to market I&apos;m pretty sure I&apos;ll be in the running for the Nobel peace
                    prize. If it was based on votes from women I would win for sure. I can&apos;t understand how I
                    could be the first to come up with this idea. It makes perfect sense to me. Now to invent
                    something that gets him to put his laundry in the hamper.</p>
                <div />
                <hr>
                <h1>Comments</h1>
                <section class="comment">
                    <p>
                        <img src="/resources/images/avatarDefault.svg" class="avatar"> Lee Mealone | 16 April 2024
                    </p>
                    <p>My therapist said I need to stop believing everything I read on the internet. Shame he put it
                        in an email.</p>
                    <p></p>
                </section>
                <section class="comment">
                    <p>
                        <img src="/resources/images/avatarDefault.svg" class="avatar"> Penny Whistle | 16 April 2024
                    </p>
                    <p>This is one of the best things I&apos;ve read so far today. OK, the only thing but still, it
                        was enjoyable.</p>
                    <p></p>
                </section>
                <section class="comment">
                    <p>
                        <img src="/resources/images/avatarDefault.svg" class="avatar"> Bill Please | 23 April 2024
                    </p>
                    <p>Did we go to school together?</p>
                    <p></p>
                </section>
                <hr>
                <section class="add-comment">
                    <h2>Leave a comment</h2>
                    <form action="/post/comment" method="POST" enctype="application/x-www-form-urlencoded">
                        <input required type="hidden" name="csrf" value="kNtxrxWLzHX6q3m1ewMqifXbsq8AzV3V">
                        <input required type="hidden" name="postId" value="3">
                        <label>Comment:</label>
                        <textarea required rows="12" cols="300" name="comment"></textarea>
                        <label>Name:</label>
                        <input required type="text" name="name">
                        <label>Email:</label>
                        <input required type="email" name="email">
                        <label>Website:</label>
                        <input pattern="(http:|https:).+" type="text" name="website">
                        <button class="button" type="submit">Post Comment</button>
                    </form>
                </section>
               {{> footer_blog}}
            </div>
    </section>
    <div class="footer-wrapper">
    </div>
</div>