<div theme="blog">
    <section class="maincontainer">
        <div class="container is-page">
            <header class="navigation-header">
                <section class="top-links">
                    <a href= />Home</a>
                    <p>|</p>
                    <a href="/my-account">My account</a>
                    <p>|</p>
                </section>
            </header>
            <header class="notification-header">
            </header>
            <div class="blog-post">
                <img src="/image/blog/posts/34.jpg">
                <h1>Scams</h1>
                <p><span id=blog-author><a
                            href='/blogs?userId=3a7b69b7-af04-4e09-9d2a-33ad48aaf4b8'>administrator</a></span> | 18
                    April 2024</p>
                <hr>
                <p>Where there is good there is evil and when it comes to the internet there is surely a scam not
                    lurking too far away. Whether it&apos;s being promised thousands from an African prince or being
                    blackmailed by someone claiming to have access to your files, you&apos;re never too far from some
                    low life trying to rob you online.</p>
                <p>Aside from keeping up to date with the necessary tools to protect your devices, it&apos;s also worth
                    keeping a few handy ideas in the back of your head to do somewhat of a common sense check. For
                    instance, if you&apos;re trying your hand at online dating, be sure to be honest with yourself about
                    realistic targets. If you&apos;re an older man with a slightly larger waist than you had back in
                    your twenties, the young attractive person that seems so into you and everything you say, especially
                    your financial details, is probably a scammer. Although, scams aren&apos;t always about money,
                    perhaps it&apos;s someone who&apos;s heart you&apos;ve broken is out for revenge, be sure to
                    question if a prospective partner isn&apos;t an ex who&apos;s out to get you.</p>
                <p>When trying to distinguish if something is a scam, spelling is a huge red flag. An email stating you
                    are due to be awarded a huge tax rebate, but the word &apos;tax&apos; is misspelled, probably
                    isn&apos;t from a genuine source. When it comes to scams, most people are aware that these emails,
                    probably landing in the junk folder, are not to be believed. However, it&apos;s the promise that
                    you&apos;re owed hundreds, that can make even the cleverest mind think: &apos;I&apos;ll just click
                    on the link to find out&apos;. Besides, if the government were trying to pay you untold hundreds,
                    there&apos;ll be a more official, begrudging letter.</p>
                <p>Possibly the greatest downfall of the scammer will always be the enthusiasm. Exclamation marks are
                    another indicator of mischief. As mentioned, the government are official, they aren&apos;t
                    particularly keen on caps lock being on 24/7 and saying things like: &apos;CLAIM YOUR HUNDREDS
                    NOW!&apos;</p>
                <p>Alas, there will always be people in a moment of naivety that may click that link or accept that
                    &apos;money&apos; they were offered and these scam artists will continue to mildly disrupt our
                    lives. Be sure to keep an eye out for misspelled words and an abundance of exclamation marks. Also,
                    if a robotic voice calls from an unknown number offering you the world, that&apos;s just plain lazy
                    on the scammers part. Most people actively avoid genuine people with clipboards on the street who
                    are after something, so getting a robot to monotonously ask you for your bank details on an
                    unsolicited call is possibly the weakest attempt going.</p>
                <p>There appears no end in sight for people trying to take money from you by some sort of illegal scam.
                    The trick is not to fall for it and, if possible, have some fun at their expense. Be sure to waste
                    their time if you spot a scam. Lead on that fake dating profile, reverse the call charges for
                    whoever is bothering you at ten pm, make a hobby out of it!</p>
                <div />
                <hr>
                <h1>Comments</h1>
                <section class="comment">
                    <p>
                        <img src="/resources/images/avatarDefault.svg" class="avatar"> Paul Amuscle | 19 April 2024
                    </p>
                    <p>I find your blogs enlightening and far cheaper than my therapist!</p>
                    <p></p>
                </section>
                <section class="comment">
                    <p>
                        <img src="/resources/images/avatarDefault.svg" class="avatar"> Si Patch | 23 April 2024
                    </p>
                    <p>Alarmingly accurate. I think you&apos;re stalking me&apos; then again everyone is.</p>
                    <p></p>
                </section>
                <section class="comment">
                    <p>
                        <img src="/resources/images/avatarDefault.svg" class="avatar"> Shay Bail | 30 April 2024
                    </p>
                    <p>Can we meet and talk about a collaboration?</p>
                    <p></p>
                </section>
                <hr>
                <section class="add-comment">
                    <h2>Leave a comment</h2>
                    <form action="/post/comment" method="POST" enctype="application/x-www-form-urlencoded">
                        <input required type="hidden" name="csrf" value="kNtxrxWLzHX6q3m1ewMqifXbsq8AzV3V">
                        <input required type="hidden" name="postId" value="10">
                        <label>Comment:</label>
                        <textarea required rows="12" cols="300" name="comment"></textarea>
                        <label>Name:</label>
                        <input required type="text" name="name">
                        <label>Email:</label>
                        <input required type="email" name="email">
                        <label>Website:</label>
                        <input pattern="(http:|https:).+" type="text" name="website">
                        <button class="button" type="submit">Post Comment</button>
                    </form>
                </section>
                {{> footer_blog}}
            </div>
    </section>
    <div class="footer-wrapper">
    </div>
</div>