<div theme="blog">
    <section class="maincontainer">
        <div class="container is-page">
            <header class="navigation-header">
                <section class="top-links">
                    <a href= />Home</a>
                    <p>|</p>
                    <a href="/my-account">My account</a>
                    <p>|</p>
                </section>
            </header>
            <header class="notification-header">
            </header>
            <div class="blog-post">
                <img src="/image/blog/posts/2.jpg">
                <h1>21st Century Dreaming</h1>
                <p><span id=blog-author><a
                            href='/blogs?userId=3a7b69b7-af04-4e09-9d2a-33ad48aaf4b8'>administrator</a></span> | 14
                    April 2024</p>
                <hr>
                <p>Despite the number of differences in lifestyle between us humans, we can all have dreams with
                    similar themes. I have very vivid dreams which appear like full-length movies. I have noticed
                    changes as society and technology evolves.</p>
                <p>One common dream scenario people agree on when comparing notes is the inability to scream in a
                    dangerous situation. You open your mouth but nothing comes out. Now, instead of not being able
                    to scream, I&apos;m unable to work my smartphone to call for help. The screen is frozen, I
                    misdial the number, there is no signal, these are my 21st Century battles in the land of Nod. I
                    can&apos;t help but wonder what would happen if I had a super-duper smartphone in real life,
                    would it function better in my dreams?</p>
                <p>Another scenario we all share is finding ourselves naked at work, walking along the street, just
                    about anywhere inappropriate to be naked. This one holds no concerns for me now because no-one
                    is looking at me, they&apos;re all looking at their cells and tablets. Or the vision is no
                    longer a shock in a society where pretty much anything goes in fashion these days. As far as
                    they&apos;re concerned I could be wearing the new invisibility clothing from Prada.</p>
                <p>Dreams, where you lose teeth, are very common, the horror of this is so powerful, especially if
                    it&apos;s a front tooth. But now we can all pop off to the dentist, get a temporary tooth, and
                    have a new one drilled in at the drop of a hat. OK, it does cost a lot of money, but I&apos;d
                    sell my house to pay for it rather than have missing teeth.</p>
                <p>It&apos;s amazing how much technology doesn&apos;t work for me when I&apos;m dreaming (see above)
                    and not a soul suggests turning it off and on again. Although that is quite refreshing, it
                    builds up a new stress for 21st Century dreaming as I&apos;m left with a realization that none
                    of it may ever work again. I wake up in a cold sweat and firstly check my cell, then boot up the
                    PC and heave a sigh of relief that it was all just a bad dream.</p>
                <div />
                <hr>
                <h1>Comments</h1>
                <section class="comment">
                    <p>
                        <img src="/resources/images/avatarDefault.svg" class="avatar"> Kit Kat | 15 April 2024
                    </p>
                    <p>Could you do a blog on the needy? I want to show my husband he&apos;s always whining about
                        nothing.</p>
                    <p></p>
                </section>
                <section class="comment">
                    <p>
                        <img src="/resources/images/avatarDefault.svg" class="avatar"> Shay Bail | 22 April 2024
                    </p>
                    <p>Thank you for introducing me to a brand-new feeling. Enjoying being on the internet.</p>
                    <p></p>
                </section>
                <section class="comment">
                    <p>
                        <img src="/resources/images/avatarDefault.svg" class="avatar"> Sam Sandwich | 24 April 2024
                    </p>
                    <p>I told my dentist he should have your blogs to read in his waiting room. He told me to stop
                        talking during a check up.</p>
                    <p></p>
                </section>
                <section class="comment">
                    <p>
                        <img src="/resources/images/avatarDefault.svg" class="avatar"> Sandy Pants | 27 April 2024
                    </p>
                    <p>I believe I have said so many nice things about this blog to people I deserve some
                        commission, inbox for me for details.</p>
                    <p></p>
                </section>
                <section class="comment">
                    <p>
                        <img src="/resources/images/avatarDefault.svg" class="avatar"> Nish N&apos;Chips | 01 May
                        2024
                    </p>
                    <p>There is a good chance I&apos;ll return to this blog&apos; as my internet has now crashed and
                        I&apos;ve nothing else to read.</p>
                    <p></p>
                </section>
                <hr>
                <section class="add-comment">
                    <h2>Leave a comment</h2>
                    <form action="/post/comment" method="POST" enctype="application/x-www-form-urlencoded">
                        <input required type="hidden" name="csrf" value="kNtxrxWLzHX6q3m1ewMqifXbsq8AzV3V">
                        <input required type="hidden" name="postId" value="1">
                        <label>Comment:</label>
                        <textarea required rows="12" cols="300" name="comment"></textarea>
                        <label>Name:</label>
                        <input required type="text" name="name">
                        <label>Email:</label>
                        <input required type="email" name="email">
                        <label>Website:</label>
                        <input pattern="(http:|https:).+" type="text" name="website">
                        <button class="button" type="submit">Post Comment</button>
                    </form>
                </section>
                {{> footer_blog}}
            </div>
    </section>
    <div class="footer-wrapper">
    </div>
</div>