<div>
    <section class="maincontainer">
        <div class="container">
            {{> header}}
            <header class="notification-header">
            </header>
            <section class="ecoms-pageheader">
                <img src="/image/productcatalog/products/shop.svg">
            </section>
            <section class="container-list-tiles">
                <div>
                    <img src="/image/productcatalog/products/21.jpg">
                    <h3>Snow Delivered To Your Door</h3>
                    <img src="/image/productcatalog/products/rating1.png">
                    $75.37
                    <a class="button" href="/product?productId=1">View details</a>
                </div>
                <div>
                    <img src="/image/productcatalog/products/30.jpg">
                    <h3>Giant Pillow Thing</h3>
                    <img src="/image/productcatalog/products/rating2.png">
                    $61.53
                    <a class="button" href="/product?productId=2">View details</a>
                </div>
                <div>
                    <img src="/image/productcatalog/products/43.jpg">
                    <h3>First Impression Costumes</h3>
                    <img src="/image/productcatalog/products/rating2.png">
                    $17.73
                    <a class="button" href="/product?productId=3">View details</a>
                </div>
                <div>
                    <img src="/image/productcatalog/products/11.jpg">
                    <h3>Gym Suit</h3>
                    <img src="/image/productcatalog/products/rating1.png">
                    $85.61
                    <a class="button" href="/product?productId=4">View details</a>
                </div>
                <div>
                    <img src="/image/productcatalog/products/62.jpg">
                    <h3>Weird Crushes Game</h3>
                    <img src="/image/productcatalog/products/rating5.png">
                    $49.29
                    <a class="button" href="/product?productId=5">View details</a>
                </div>
                <div>
                    <img src="/image/productcatalog/products/53.jpg">
                    <h3>High-End Gift Wrapping</h3>
                    <img src="/image/productcatalog/products/rating1.png">
                    $24.34
                    <a class="button" href="/product?productId=6">View details</a>
                </div>
                <div>
                    <img src="/image/productcatalog/products/5.jpg">
                    <h3>Cheshire Cat Grin</h3>
                    <img src="/image/productcatalog/products/rating4.png">
                    $20.46
                    <a class="button" href="/product?productId=7">View details</a>
                </div>
                <div>
                    <img src="/image/productcatalog/products/60.jpg">
                    <h3>Dancing In The Dark</h3>
                    <img src="/image/productcatalog/products/rating3.png">
                    $11.03
                    <a class="button" href="/product?productId=8">View details</a>
                </div>
                <div>
                    <img src="/image/productcatalog/products/61.jpg">
                    <h3>Safety First</h3>
                    <img src="/image/productcatalog/products/rating4.png">
                    $14.66
                    <a class="button" href="/product?productId=9">View details</a>
                </div>
                <div>
                    <img src="/image/productcatalog/products/68.jpg">
                    <h3>What Do You Meme?</h3>
                    <img src="/image/productcatalog/products/rating2.png">
                    $97.51
                    <a class="button" href="/product?productId=10">View details</a>
                </div>
                <div>
                    <img src="/image/productcatalog/products/7.jpg">
                    <h3>Conversation Controlling Lemon</h3>
                    <img src="/image/productcatalog/products/rating5.png">
                    $82.85
                    <a class="button" href="/product?productId=11">View details</a>
                </div>
                <div>
                    <img src="/image/productcatalog/products/45.jpg">
                    <h3>ZZZZZZ Bed - Your New Home Office</h3>
                    <img src="/image/productcatalog/products/rating2.png">
                    $54.62
                    <a class="button" href="/product?productId=12">View details</a>
                </div>
                <div>
                    <img src="/image/productcatalog/products/12.jpg">
                    <h3>Hologram Stand In</h3>
                    <img src="/image/productcatalog/products/rating4.png">
                    $60.24
                    <a class="button" href="/product?productId=13">View details</a>
                </div>
                <div>
                    <img src="/image/productcatalog/products/4.jpg">
                    <h3>BURP Protection</h3>
                    <img src="/image/productcatalog/products/rating5.png">
                    $82.43
                    <a class="button" href="/product?productId=14">View details</a>
                </div>
                <div>
                    <img src="/image/productcatalog/products/49.jpg">
                    <h3>Roulette Drinking Game</h3>
                    <img src="/image/productcatalog/products/rating4.png">
                    $15.46
                    <a class="button" href="/product?productId=15">View details</a>
                </div>
                <div>
                    <img src="/image/productcatalog/products/31.jpg">
                    <h3>Couple&apos;s Umbrella</h3>
                    <img src="/image/productcatalog/products/rating2.png">
                    $86.05
                    <a class="button" href="/product?productId=16">View details</a>
                </div>
                <div>
                    <img src="/image/productcatalog/products/38.jpg">
                    <h3>Six Pack Beer Belt</h3>
                    <img src="/image/productcatalog/products/rating5.png">
                    $88.38
                    <a class="button" href="/product?productId=17">View details</a>
                </div>
                <div>
                    <img src="/image/productcatalog/products/28.jpg">
                    <h3>Vintage Neck Defender</h3>
                    <img src="/image/productcatalog/products/rating5.png">
                    $89.67
                    <a class="button" href="/product?productId=18">View details</a>
                </div>
                <div>
                    <img src="/image/productcatalog/products/14.jpg">
                    <h3>Mood Enhancer</h3>
                    <img src="/image/productcatalog/products/rating2.png">
                    $85.09
                    <a class="button" href="/product?productId=19">View details</a>
                </div>
                <div>
                    <img src="/image/productcatalog/products/39.jpg">
                    <h3>Paintball Gun - Thunder Striker</h3>
                    <img src="/image/productcatalog/products/rating1.png">
                    $46.91
                    <a class="button" href="/product?productId=20">View details</a>
                </div>
            </section>
        </div>
    </section>
</div>