<!DOCTYPE html>
<html>

<head>
    <link href=../css/academyLabHeader.css rel=stylesheet>
    <link href=../css/labsBlog.css rel=stylesheet>
    <title>User ID controlled by request parameter, with unpredictable user IDs</title>
</head>
<body>
    <div theme="blog">
        <section class="maincontainer">
            <div class="container is-page">
                {{> header}}
                <h1>
                    {{getUsername}}
                </h1>
            </div>
        </section>
    </div>
</body>