<!DOCTYPE html>
<html>

<head>
    <link href=../css/academyLabHeader.css rel=stylesheet>
    <link href=../css/labsBlog.css rel=stylesheet>
    <title>User ID controlled by request parameter, with unpredictable user IDs</title>
</head>

<body>
    <div theme="blog">
        <section class="maincontainer">
            <div class="container is-page">
                <header class="navigation-header">
                    <section class="top-links">
                        <a href= />Home</a>
                        <p>|</p>
                        <a href="/my-account">My account</a>
                        <p>|</p>
                    </section>
                </header>
                <header class="notification-header">
                </header>
                <section class="blog-header">
                    <img src="/image/blog/posts/blog.svg">
                </section>
                <section class="blog-list">
                    <div class="blog-post">
                        <a href="/post?postId=6"><img src="/image/blog/posts/28.jpg"></a>
                        <h2>The history of swigging port</h2>
                        <p>The 'discovery' of port dates back to the late Seventeenth Century when British sailors
                            stumbled upon the drink in Portugal and then stumbled even more slowly home with several
                            more bottles. It has been said since then that Portugal is...</p>
                        <a class="button is-small" href="/post?postId=6">View post</a>
                    </div>
                    <div class="blog-post">
                        <a href="/post?postId=1"><img src="/image/blog/posts/2.jpg"></a>
                        <h2>21st Century Dreaming</h2>
                        <p>Despite the number of differences in lifestyle between us humans, we can all have dreams with
                            similar themes. I have very vivid dreams which appear like full-length movies. I have
                            noticed changes as society and technology evolves.</p>
                        <a class="button is-small" href="/post?postId=1">View post</a>
                    </div>
                    <div class="blog-post">
                        <a href="/post?postId=3"><img src="/image/blog/posts/48.jpg"></a>
                        <h2>Look No Hands - The Game Plays Itself</h2>
                        <p>I was so fed up with my husband always sitting in front of the television playing his silly
                            games, I did something about it. I came up with an idea that would revolutionize game
                            playing in the future. I wrote...</p>
                        <a class="button is-small" href="/post?postId=3">View post</a>
                    </div>
                    <div class="blog-post">
                        <a href="/post?postId=5"><img src="/image/blog/posts/42.jpg"></a>
                        <h2>Watching Me, Watching You.</h2>
                        <p>For all you people who work from home, there's a new app that will help you stop
                            procrastinating and focus on your goals. The trusty webcam has been put to use as you sign
                            up with a work buddy. You...</p>
                        <a class="button is-small" href="/post?postId=5">View post</a>
                    </div>
                    <div class="blog-post">
                        <a href="/post?postId=8"><img src="/image/blog/posts/37.jpg"></a>
                        <h2>Importance of Relaxing</h2>
                        <p>Sometimes it's impossible to take a breath in this world. When you're not working your
                            fingers to the bone to support your family, economy and possible habits, you're faced with
                            the blood boiling, warped reality of social media and the...</p>
                        <a class="button is-small" href="/post?postId=8">View post</a>
                    </div>
                    <div class="blog-post">
                        <a href="/post?postId=7"><img src="/image/blog/posts/15.jpg"></a>
                        <h2>Meeting Up</h2>
                        <p>In the past arranging events, and to meet up with friends and family was easy. The first
                            option for an event was to send out an invitation, in the post, and they would R.S.V.P,
                            sorted. Numbers counted, an event arranged....</p>
                        <a class="button is-small" href="/post?postId=7">View post</a>
                    </div>
                    <div class="blog-post">
                        <a href="/post?postId=2"><img src="/image/blog/posts/38.jpg"></a>
                        <h2>Don't Believe Everything You Read</h2>
                        <p>Don't believe everything you read is not only a common expression, it's also a pretty obvious
                            one. Although, it's common and obvious because it's an old saying, an old saying rooted in
                            print journalism and their individual biases. But now,...</p>
                        <a class="button is-small" href="/post?postId=2">View post</a>
                    </div>
                    <div class="blog-post">
                        <a href="/post?postId=9"><img src="/image/blog/posts/1.jpg"></a>
                        <h2>It's All in the Game - Football for Dummies</h2>
                        <p>There are two types of people in the world; those who watch soccer, and those who watch
                            people watching soccer. I fall into the latter category. If only they'd leave me in peace to
                            drink my beer and zone out....</p>
                        <a class="button is-small" href="/post?postId=9">View post</a>
                    </div>
                    <div class="blog-post">
                        <a href="/post?postId=10"><img src="/image/blog/posts/34.jpg"></a>
                        <h2>Scams</h2>
                        <p>Where there is good there is evil and when it comes to the internet there is surely a scam
                            not lurking too far away. Whether it's being promised thousands from an African prince or
                            being blackmailed by someone claiming to...</p>
                        <a class="button is-small" href="/post?postId=10">View post</a>
                    </div>
                    <div class="blog-post">
                        <a href="/post?postId=4"><img src="/image/blog/posts/39.jpg"></a>
                        <h2>The Art Of Communication</h2>
                        <p>I'm a bit of a Francophile, so when I travel to France I love to speak their language. I'm by
                            no means fluent but I give it my best shot. I usually travel with my partner and son,
                            neither of...</p>
                        <a class="button is-small" href="/post?postId=4">View post</a>
                    </div>
                </section>
            </div>
        </section>
        <div class="footer-wrapper">
        </div>
    </div>
</body>

</html>