<!DOCTYPE html>
<html>

<head>
    <link href=../css/academyLabHeader.css rel=stylesheet>
    <link href=../css/labs.css rel=stylesheet>
    <title>Access Control Lab</title>
</head>

<body>
    <div theme="">
        <section class="maincontainer">
            <div class="container is-page">
                {{> header}}
                <header class="notification-header">
                </header>
                <h1>Login</h1>
                <section>
                    {{#if (isdefined lab)}}
                    <form class=login-form method="POST" action="{{lab }}/login">
                        <input required type="hidden" name="csrf" value="IbCh9fquGPOWAlXlZO7PlyUh5aYwX0ZM">
                        <label>Username</label>
                        <input required type=username name="username" autofocus>
                        <label>Password</label>
                        <input required type=password name="password">
                        <button class=button type=submit> Log in </button>
                    </form>
                    {{else}}
                    <form class=login-form method="POST" action="/login">
                        <input required type="hidden" name="csrf" value="IbCh9fquGPOWAlXlZO7PlyUh5aYwX0ZM">
                        <label>Username</label>
                        <input required type=username name="username" autofocus>
                        <label>Password</label>
                        <input required type=password name="password">
                        <button class=button type=submit> Log in </button>
                    </form>
                    {{/if}}
                </section>
            </div>
        </section>
        <div class="footer-wrapper">
        </div>
    </div>
</body>

</html>