<!DOCTYPE html>
<html>

<head>
    <link href=css/academyLabHeader.css rel=stylesheet>
    <link href=css/labsEcommerce.css rel=stylesheet>
    <title>Unprotected admin functionality</title>
</head>

<body>
    <!-- <script src="/resources/labheader/js/labHeader.js"></script> -->
    <div theme="ecommerce">
        <section class="maincontainer">
            <div class="container">
                <header class="navigation-header">
                    <section class="top-links">
                        <a href= />Home</a>
                        <p>|</p>
                        <a href="/my-account">My account</a>
                        <p>|</p>
                    </section>
                </header>
                <header class="notification-header">
                </header>
                <section class="ecoms-pageheader">
                    <img src="/resources/images/shop.svg">
                </section>
                <section class="container-list-tiles">
                    <div>
                        <img src="/image/productcatalog/products/38.jpg">
                        <h3>Six Pack Beer Belt</h3>
                        <img src="/resources/images/rating4.png">
                        $12.86
                        <a class="button" href="/product?productId=1">View details</a>
                    </div>
                    <div>
                        <img src="/image/productcatalog/products/72.jpg">
                        <h3>Baby Minding Shoes</h3>
                        <img src="/resources/images/rating2.png">
                        $56.35
                        <a class="button" href="/product?productId=2">View details</a>
                    </div>
                    <div>
                        <img src="/image/productcatalog/products/46.jpg">
                        <h3>Hitch A Lift</h3>
                        <img src="/resources/images/rating3.png">
                        $88.97
                        <a class="button" href="/product?productId=3">View details</a>
                    </div>
                    <div>
                        <img src="/image/productcatalog/products/37.jpg">
                        <h3>The Giant Enter Key</h3>
                        <img src="/resources/images/rating5.png">
                        $28.05
                        <a class="button" href="/product?productId=4">View details</a>
                    </div>
                    <div>
                        <img src="/image/productcatalog/products/33.jpg">
                        <h3>AbZorba Ball</h3>
                        <img src="/resources/images/rating3.png">
                        $87.31
                        <a class="button" href="/product?productId=5">View details</a>
                    </div>
                    <div>
                        <img src="/image/productcatalog/products/5.jpg">
                        <h3>Cheshire Cat Grin</h3>
                        <img src="/resources/images/rating1.png">
                        $89.35
                        <a class="button" href="/product?productId=6">View details</a>
                    </div>
                    <div>
                        <img src="/image/productcatalog/products/66.jpg">
                        <h3>Paddling Pool Shoes</h3>
                        <img src="/resources/images/rating4.png">
                        $52.71
                        <a class="button" href="/product?productId=7">View details</a>
                    </div>
                    <div>
                        <img src="/image/productcatalog/products/26.jpg">
                        <h3>The Splash</h3>
                        <img src="/resources/images/rating1.png">
                        $86.55
                        <a class="button" href="/product?productId=8">View details</a>
                    </div>
                    <div>
                        <img src="/image/productcatalog/products/58.jpg">
                        <h3>There is No &apos;I&apos; in Team</h3>
                        <img src="/resources/images/rating3.png">
                        $95.07
                        <a class="button" href="/product?productId=9">View details</a>
                    </div>
                    <div>
                        <img src="/image/productcatalog/products/63.jpg">
                        <h3>Laser Tag</h3>
                        <img src="/resources/images/rating3.png">
                        $89.11
                        <a class="button" href="/product?productId=10">View details</a>
                    </div>
                    <div>
                        <img src="/image/productcatalog/products/30.jpg">
                        <h3>Giant Pillow Thing</h3>
                        <img src="/resources/images/rating5.png">
                        $30.59
                        <a class="button" href="/product?productId=11">View details</a>
                    </div>
                    <div>
                        <img src="/image/productcatalog/products/43.jpg">
                        <h3>First Impression Costumes</h3>
                        <img src="/resources/images/rating3.png">
                        $48.47
                        <a class="button" href="/product?productId=12">View details</a>
                    </div>
                    <div>
                        <img src="/image/productcatalog/products/11.jpg">
                        <h3>Gym Suit</h3>
                        <img src="/resources/images/rating2.png">
                        $67.24
                        <a class="button" href="/product?productId=13">View details</a>
                    </div>
                    <div>
                        <img src="/image/productcatalog/products/8.jpg">
                        <h3>Folding Gadgets</h3>
                        <img src="/resources/images/rating1.png">
                        $25.89
                        <a class="button" href="/product?productId=14">View details</a>
                    </div>
                    <div>
                        <img src="/image/productcatalog/products/49.jpg">
                        <h3>Roulette Drinking Game</h3>
                        <img src="/resources/images/rating5.png">
                        $96.94
                        <a class="button" href="/product?productId=15">View details</a>
                    </div>
                    <div>
                        <img src="/image/productcatalog/products/45.jpg">
                        <h3>ZZZZZZ Bed - Your New Home Office</h3>
                        <img src="/resources/images/rating2.png">
                        $30.67
                        <a class="button" href="/product?productId=16">View details</a>
                    </div>
                    <div>
                        <img src="/image/productcatalog/products/18.jpg">
                        <h3>Portable Hat</h3>
                        <img src="/resources/images/rating3.png">
                        $89.51
                        <a class="button" href="/product?productId=17">View details</a>
                    </div>
                    <div>
                        <img src="/image/productcatalog/products/14.jpg">
                        <h3>Mood Enhancer</h3>
                        <img src="/resources/images/rating1.png">
                        $27.04
                        <a class="button" href="/product?productId=18">View details</a>
                    </div>
                    <div>
                        <img src="/image/productcatalog/products/36.jpg">
                        <h3>Caution Sign</h3>
                        <img src="/resources/images/rating4.png">
                        $39.22
                        <a class="button" href="/product?productId=19">View details</a>
                    </div>
                    <div>
                        <img src="/image/productcatalog/products/64.jpg">
                        <h3>Hexbug Battleground Tarantula Double Pack</h3>
                        <img src="/resources/images/rating5.png">
                        $24.47
                        <a class="button" href="/product?productId=20">View details</a>
                    </div>
                </section>
            </div>
        </section>
        <div class="footer-wrapper">
        </div>
    </div>
</body>

</html>